<a href="https://colab.research.google.com/github/ChaelinL/DataAnalysis_Study/blob/main/%EC%9D%B4%EC%B1%84%EB%A6%B007_0521_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터분석 기초반 8주차 수업
- 시계열 데이터 분석
- 시계열이라는 것은 시간의 흐름을 나타낸 데이터라서 시간의 흐름을 바꾸면 문제가 될 수 있다.
- 모델링을 진행할 때도 시계열 데이터는 섞을 수 없다. 시계열 자체의 특성상 섞이게 되면 사라진다.
- 시계열 데이터는 흐름이라는 것이 중요한 특징 중 하나이다.
- 판다스에서 datetime, TimeStamp, Timedelta 등의 함수 제공
- 대부분 datetime을 사용해 데이터 분석을 진행한다.
- 정상성, 차분 등 시계열 분석에 필요한 방법들이 따로 있다.
- 어떠한 경향이나 추세가 보이는 시계열 데이터를 정상시계열로 만든다.

**1. datetime**
- date + time 이 두 가지가 합쳐진 것
- date: 년, 월, 일
- time: 시간, 분, 초, 마이크로초

In [2]:
import pandas as pd
import datetime

date = datetime.date(year=2023, month=5, day=22)
time = datetime.time(hour=22, minute=6, microsecond=1234)

print(date)
print(time)

2023-05-22
22:06:00.001234

In [5]:
dt = datetime.datetime(year=2023, month=5, day=21, hour=22, minute=6, second=5, microsecond=1234)
print(dt)

2023-05-21 22:06:05.001234

**2. timedelta**
- 시계열 데이터를 덧셈 또는 뺄셈이 가능하다
- 날짜를 day 계산해서 덧셈과 뺄셈 진행

In [6]:
td = datetime.timedelta(days=20, hours=10)
print(td)

20 days, 10:00:00

In [7]:
print(date+td) # 날짜만 더해서 날짜만 출력
print(dt+td)   # 날짜와 시간 함께 더해서 모두 출력

2023-06-11
2023-06-11 08:06:05.001234

**3. datetime의 장점**
- datetime을 이용해 시계열 데이터로 변경할 수 있다.

In [8]:
pd.to_datetime('2023-5-22')

Timestamp('2023-05-22 00:00:00')

- 날짜 데이터를 표현하는 방식은 다양하다
- 22-5-2023
- 2023/5/22
- 2023.5.22

In [9]:
a = pd.Series(['2023-5-22','22/5/2023','2023-6-21','2023-07-18','2023-05-32'])
pd.to_datetime(a, dayfirst=True, errors='coerce') # 정상적이지 않은 시계열 값은 na 반환

0   2023-05-22
1   2023-05-22
2   2023-06-21
3   2023-07-18
4          NaT
dtype: datetime64[ns]

- datetime이 반환해주는 형태 중 위 형태는 연도와 월, 일을 스스로 잘 매핑해주며, 잘못된 월 같은 경우 na값을 반환한다.

**4. 실제 데이터를 불러와서 분석해보자!**

In [10]:
# crime 데이터 불러오기
from google.colab import drive
drive.mount('/content/drive')

crime = pd.read_csv('/content/drive/My Drive/crime.csv')
crime

Mounted at /content/drive

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0

In [11]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  object
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 31.6+ MB

In [13]:
# 문자열 데이터를 반드시 시계열 데이터로 꼭 바꿔야 한다.
crime['REPORTED_DATE'] = pd.to_datetime(crime['REPORTED_DATE'])

In [14]:
crime.info()  # 시계열 데이터로 바뀌었는지 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  datetime64[ns]
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 31.6+ MB

- 해당 시계열 데이터 컬럼을 인덱스로 지정하게 되면 다양하게 사용할 수 있다.
- 시계열 데이터 컬럼을 인덱스로 지정하면 좋은 점: 다양한 메서드를 사용할 수 있다.

In [15]:
crime_dt = crime.set_index('REPORTED_DATE')

In [16]:
crime_dt.loc['2014']  # 2014년 데이터 불러오기

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-06-29 02:01:00,0,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,1,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,2,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,3,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,4,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...
2014-01-21 07:32:00,457344,traffic-accident,traffic-accident,-104.998902,39.711204,baker,0,1
2014-05-22 10:55:00,457385,harassment-dv,public-disorder,-104.905262,39.724593,hilltop,1,0
2014-01-20 17:27:00,457769,traffic-accident,traffic-accident,-104.968227,39.739752,cheesman-park,0,1
2014-01-02 10:44:00,458291,theft-from-bldg,larceny,-105.046018,39.720992,barnum-west,1,0
2014-08-26 07:16:00,458670,theft-of-motor-vehicle,auto-theft,-105.029423,39.688665,mar-lee,1,0

In [17]:
crime_dt.loc['2017']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-05-22 14:41:00,7261,traffic-accident,traffic-accident,-104.673812,39.849292,dia,0,1
2017-05-17 20:35:00,7262,threats-to-injure,public-disorder,-105.020053,39.694351,ruby-hill,1,0
2017-06-07 07:47:00,7265,burglary-residence-by-force,burglary,-104.981677,39.763597,five-points,1,0
2017-05-26 16:46:00,7270,theft-other,larceny,-104.839119,39.769694,stapleton,1,0
2017-06-07 07:42:00,7272,criminal-trespassing,all-other-crimes,-104.673812,39.849292,dia,1,0
...,...,...,...,...,...,...,...,...
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0
2017-09-12 20:37:00,460907,weapon-unlawful-discharge-of,all-other-crimes,-105.040313,39.721264,barnum-west,1,0
2017-09-12 16:32:00,460908,traf-habitual-offender,all-other-crimes,-104.847024,39.779596,montbello,1,0
2017-09-12 13:04:00,460909,criminal-mischief-other,public-disorder,-104.949183,39.756353,skyland,1,0
2017-09-12 09:30:00,460910,theft-other,larceny,-104.985739,39.735045,capitol-hill,1,0

In [18]:
# 추가로 요일을 더 지정해서 불러올 수도 있다
crime_dt.loc['2017-09']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-09-17 02:13:00,89011,aggravated-assault,aggravated-assault,-104.990480,39.728076,lincoln-park,1,0
2017-09-18 13:30:00,112711,criminal-mischief-mtr-veh,public-disorder,-104.989896,39.753590,five-points,1,0
2017-09-12 15:59:00,134270,traffic-accident,traffic-accident,-104.940906,39.742085,city-park,0,1
2017-09-26 21:17:00,191519,traf-other,all-other-crimes,-105.008656,39.711201,athmar-park,1,0
2017-09-10 11:30:00,193934,aggravated-assault,aggravated-assault,-105.049447,39.700059,westwood,1,0
...,...,...,...,...,...,...,...,...
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0
2017-09-12 20:37:00,460907,weapon-unlawful-discharge-of,all-other-crimes,-105.040313,39.721264,barnum-west,1,0
2017-09-12 16:32:00,460908,traf-habitual-offender,all-other-crimes,-104.847024,39.779596,montbello,1,0
2017-09-12 13:04:00,460909,criminal-mischief-other,public-disorder,-104.949183,39.756353,skyland,1,0
2017-09-12 09:30:00,460910,theft-other,larceny,-104.985739,39.735045,capitol-hill,1,0

In [19]:
crime_dt.loc['2017-09-13']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-09-13 13:06:00,451665,fraud-identity-theft,white-collar-crime,-105.007308,39.788123,chaffee-park,1,0
2017-09-13 11:12:00,452119,theft-other,larceny,-104.910155,39.740532,south-park-hill,1,0
2017-09-13 16:00:00,453375,traffic-accident,traffic-accident,-104.913986,39.743406,south-park-hill,0,1
2017-09-13 11:50:00,453519,theft-parts-from-vehicle,theft-from-motor-vehicle,-104.886145,39.738479,east-colfax,1,0
2017-09-13 13:05:00,453935,theft-parts-from-vehicle,theft-from-motor-vehicle,-105.025060,39.678635,harvey-park,1,0
...,...,...,...,...,...,...,...,...
2017-09-13 02:21:00,460867,assault-simple,other-crimes-against-persons,-104.925733,39.654184,university-hills,1,0
2017-09-13 03:21:00,460879,traffic-accident-dui-duid,traffic-accident,-105.010711,39.757385,highland,0,1
2017-09-13 02:15:00,460889,traffic-accident-hit-and-run,traffic-accident,-105.043950,39.787436,regis,0,1
2017-09-13 01:12:00,460903,criminal-mischief-other,public-disorder,-104.993574,39.739773,civic-center,1,0
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0

In [20]:
# 이렇게 불러오는 것도 가능하다
crime_dt.loc['Dec 2014']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-19 17:42:00,1219,traffic-accident,traffic-accident,-104.940355,39.781688,northeast-park-hill,0,1
2014-12-06 08:25:00,1225,disturbing-the-peace,public-disorder,-104.817529,39.773653,montbello,1,0
2014-12-19 08:29:00,1301,burglary-residence-no-force,burglary,-104.901114,39.729047,lowry-field,1,0
2014-12-01 22:13:00,1322,liquor-possession,drug-alcohol,-104.966870,39.738576,cheesman-park,1,0
2014-12-30 08:26:00,1341,theft-items-from-vehicle,theft-from-motor-vehicle,-105.037817,39.771111,berkeley,1,0
...,...,...,...,...,...,...,...,...
2014-12-18 22:36:00,377801,criminal-trespassing,all-other-crimes,-104.999197,39.739042,lincoln-park,1,0
2014-12-10 19:35:00,377834,assault-simple,other-crimes-against-persons,-105.033088,39.706098,westwood,1,0
2014-12-16 13:51:00,379049,assault-simple,other-crimes-against-persons,-104.921734,39.753780,north-park-hill,1,0
2014-12-20 08:37:00,416416,drug-methampetamine-sell,drug-alcohol,-105.008755,39.697055,athmar-park,1,0
2014-12-16 13:06:00,427420,harassment,public-disorder,-104.985507,39.730838,capitol-hill,1,0

In [21]:
# sort_index() 사용해 인덱스 순서대로 정렬 가능
crime_dt.loc['2014'].sort_index()

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-01-01 00:08:00,99814,traf-other,all-other-crimes,-104.841945,39.773764,stapleton,1,0
2014-01-01 00:08:00,214696,traf-habitual-offender,all-other-crimes,-104.841945,39.773764,stapleton,1,0
2014-01-01 00:38:00,224109,theft-of-motor-vehicle,auto-theft,-104.890345,39.782623,stapleton,1,0
2014-01-01 00:39:00,83972,robbery-street,robbery,-104.979260,39.753859,five-points,1,0
2014-01-01 01:00:00,236308,aggravated-assault,aggravated-assault,-105.048852,39.731369,villa-park,1,0
...,...,...,...,...,...,...,...,...
2014-12-31 23:59:00,226091,weapon-carrying-concealed,all-other-crimes,-105.017647,39.718170,valverde,1,0
2014-12-31 23:59:00,148309,traffic-accident,traffic-accident,-105.040484,39.751199,sloan-lake,0,1
2014-12-31 23:59:00,97411,assault-dv,other-crimes-against-persons,-105.017647,39.718170,valverde,1,0
2014-12-31 23:59:00,126879,theft-of-motor-vehicle,auto-theft,-105.031583,39.712121,barnum,1,0
2014-12-31 23:59:00,226092,disturbing-the-peace,public-disorder,-105.017647,39.718170,valverde,1,0

**5. between_time**
- 특정 두 시간대 안에 속하는 데이터를 불러온다

In [22]:
crime_dt14 = crime_dt.loc['2014'].sort_index()

In [23]:
crime_dt14.between_time('13:00', '17:00')  # 시간을 이용하여 추출할 수도 있다.

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-01-01 13:08:00,1251,traffic-accident,traffic-accident,-104.912616,39.651368,hampden-south,0,1
2014-01-01 13:54:00,146990,burglary-residence-no-force,burglary,-104.977279,39.694618,washington-park-west,1,0
2014-01-01 13:55:00,200314,burglary-business-by-force,burglary,-105.022611,39.792059,chaffee-park,1,0
2014-01-01 14:22:00,133765,liquor-possession,drug-alcohol,-104.973097,39.740032,capitol-hill,1,0
2014-01-01 14:28:00,137563,assault-dv,other-crimes-against-persons,-105.018501,39.782714,sunnyside,1,0
...,...,...,...,...,...,...,...,...
2014-12-31 16:24:00,86655,traffic-accident-hit-and-run,traffic-accident,-104.991275,39.708686,baker,0,1
2014-12-31 16:29:00,176283,theft-of-motor-vehicle,auto-theft,-104.919065,39.760460,north-park-hill,1,0
2014-12-31 16:49:00,160505,failure-to-appear,all-other-crimes,-104.991248,39.709848,baker,1,0
2014-12-31 16:49:00,228945,theft-shoplift,larceny,-104.991248,39.709848,baker,1,0
2014-12-31 16:58:00,90918,traf-other,all-other-crimes,-105.024565,39.689241,ruby-hill,1,0

**6. at_time**
- 해당 시간 정각의 데이터를 불러온다

In [24]:
crime_dt14.at_time('16:49')

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-01-08 16:49:00,201010,traffic-accident,traffic-accident,-104.851718,39.768331,stapleton,0,1
2014-01-18 16:49:00,159782,traffic-accident,traffic-accident,-105.053239,39.733105,villa-park,0,1
2014-01-18 16:49:00,292755,theft-other,larceny,-105.004929,39.710900,athmar-park,1,0
2014-01-28 16:49:00,153133,traffic-accident,traffic-accident,-104.994952,39.765683,globeville,0,1
2014-02-04 16:49:00,229613,traffic-accident,traffic-accident,-104.884606,39.657791,hampden,0,1
...,...,...,...,...,...,...,...,...
2014-12-02 16:49:00,245051,theft-other,larceny,-104.999293,39.752085,union-station,1,0
2014-12-14 16:49:00,217437,burglary-business-by-force,burglary,-104.975748,39.740222,north-capitol-hill,1,0
2014-12-16 16:49:00,129733,theft-items-from-vehicle,theft-from-motor-vehicle,-105.025552,39.731396,villa-park,1,0
2014-12-31 16:49:00,160505,failure-to-appear,all-other-crimes,-104.991248,39.709848,baker,1,0
2014-12-31 16:49:00,228945,theft-shoplift,larceny,-104.991248,39.709848,baker,1,0